backend/agent/dify_miro_workflow.yml
app:
  description: Generate a MediaJira-compatible Miro board snapshot from AgentChat context.
  icon: "\U0001F5FA\uFE0F"
  icon_background: "#E0F2FE"
  mode: workflow
  name: MediaJira Agent Miro Snapshot Generator
  use_icon_as_answer_icon: false
dependencies: []
kind: app
version: 0.3.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions: []
      allowed_file_types: []
      allowed_file_upload_methods: []
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods: []
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        isInIteration: false
        sourceType: start
        targetType: llm
      id: start-to-llm
      source: start
      sourceHandle: source
      target: llm-generate-snapshot
      targetHandle: target
      type: custom
      zIndex: 0
    - data:
        isInIteration: false
        sourceType: llm
        targetType: end
      id: llm-to-end
      source: llm-generate-snapshot
      sourceHandle: source
      target: end
      targetHandle: target
      type: custom
      zIndex: 0
    nodes:
    - data:
        desc: Unified AgentChat context and Miro snapshot generation rules.
        selected: false
        title: Start
        type: start
        variables:
        - label: board_generation_context
          max_length: 200000
          options: []
          required: true
          type: paragraph
          variable: board_generation_context
        - label: miro_snapshot_rules
          max_length: 100000
          options: []
          required: true
          type: paragraph
          variable: miro_snapshot_rules
      height: 116
      id: start
      position:
        x: 30
        y: 250
      positionAbsolute:
        x: 30
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Convert AgentChat context into one valid MediaJira Miro snapshot JSON object.
        memory:
          query_prompt_template: ''
          role_prefix:
            assistant: Assistant
            user: User
          window:
            enabled: false
            size: 50
        model:
          completion_params:
            temperature: 0.2
          mode: chat
          name: gpt-4.1-mini
          provider: langgenius/openai/openai
        prompt_template:
        - role: system
          text: |-
            You are generating a board snapshot for MediaJira's built-in Miro module.

            Return exactly one valid board snapshot JSON object.

            Requirements:
            1. Output JSON only.
            2. No markdown fences.
            3. Follow miro_snapshot_rules.
            4. Use only allowed item types.
            5. Keep text short and readable.
            6. Prefer human-readable summaries.
            7. Raw campaign names may appear only as short secondary text.
            8. Use a simple left-to-right layout with frames.
            9. Use only sections supported by the input.
            10. If decision options exist, show them clearly.
            11. Every item must have positive width and height.
            12. Keep the total item count within the schema limit.
            13. Keep all child items fully inside their parent frame bounds.
            14. When information is dense, compress content instead of creating too many separate items.
            15. Prefer fewer, higher-signal items over exhaustive one-to-one rendering.
            16. Preserve as much useful detail as possible when space allows.

            Focus only on:
            - anomalies
            - suggested_decision
            - recommended_tasks

            Compression rules:
            - Compress only when necessary to stay readable and within the schema limit.
            - Do not try to render every input entry as its own shape or sticky note when that would make the board overcrowded.
            - When anomalies are numerous, group related anomalies into concise summary notes.
            - When recommended tasks are numerous, prioritize the highest-signal tasks and merge similar tasks into short grouped items.
            - When decision reasoning or context is long, summarize it into one compact text or shape block instead of splitting it into many items.
            - When decision options are numerous, always include the selected option and the most important alternatives first.
            - If space is tight, reduce the number of sections or items before reducing readability.
            - If space is available, include more concrete anomalies, more concrete tasks, and more decision detail rather than over-compressing.
            - When the board can fit the content cleanly, prefer explicit items over abstract summary-only rendering.

            Layout rules:
            - Frames are containers and should be large enough for all of their child items.
            - Child items must not overflow outside their frame.
            - Keep a clean reading order from left to right and top to bottom.
            - Use concise section titles and avoid oversized text blocks.
            - Prefer one summary block plus a few focused detail items rather than many small fragmented blocks.
            - Aim for a board that feels informative, not minimal; use the available item budget when it improves clarity.

            Create a practical draft board with concise labels and reasonable initial positions.
        - role: user
          text: |-
            board_generation_context:
            {{#start.board_generation_context#}}

            miro_snapshot_rules:
            {{#start.miro_snapshot_rules#}}

            Return the final board snapshot JSON now.
        selected: false
        title: Generate Miro Snapshot
        type: llm
        vision:
          enabled: false
      height: 98
      id: llm-generate-snapshot
      position:
        x: 332
        y: 250
      positionAbsolute:
        x: 332
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    - data:
        desc: Return the generated snapshot JSON as the workflow output.
        outputs:
        - value_selector:
          - llm-generate-snapshot
          - text
          variable: snapshot
        selected: false
        title: End
        type: end
      height: 90
      id: end
      position:
        x: 634
        y: 250
      positionAbsolute:
        x: 634
        y: 250
      selected: false
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 244
    viewport:
      x: 0
      y: 0
      zoom: 0.8
